In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("Advertising.csv")

In [4]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [6]:
x = data[["TV","Radio","Newspaper"]]
y = data["Sales"]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [8]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [9]:
print("intercept:",mlr.intercept_)
print("coefficients:")
list(zip(x,mlr.coef_))

intercept: 2.652789668879496
coefficients:

[('TV', 0.045425596023997955),
 ('Radio', 0.1897577276689362),
 ('Newspaper', 0.004603078953112061)]

In [10]:
y_pred = mlr.predict(x_test)
print("prediction for test set:{}".format(y_pred))

prediction for test set:[10.62160072 20.00625302 16.91850882 19.17040746 20.94974131 13.12284284
 11.80740696 12.32019766 20.57806782 20.95662688 10.79096475 19.54868702
  6.42403866 15.23133391  8.97226257  7.89897862 16.23599497 12.02636477
 17.09702178 11.26080277 16.97826292  9.75655721 20.82389762 17.20916742
 15.13816239 21.97290698 19.20181841 10.07501899 19.39017185 14.8673761
 14.36798893  7.55604543  9.96742165 14.76342565  7.20995576 13.60003295
  7.49088656 11.70865932 13.46091883 15.2229793  17.18088277 13.56738329
 14.30942267 13.72909849 11.88559349  8.77039705 12.1244102  19.20252289
  9.08376601  5.15367352 16.22852749 18.14111213 12.94835466 16.86274503
 17.86462435 12.33930625  4.3575739  11.25904494 16.11560622 13.56602169]

In [11]:
mlr_dif = pd.DataFrame({"actual value: " :y_test, "prediction_value:":y_pred})
mlr_dif.head()

     actual value:   prediction_value:
126             6.6          10.621601
104            20.7          20.006253
99             17.2          16.918509
92             19.4          19.170407
111            21.8          20.949741

In [13]:
from sklearn import metrics
meansqrerr = metrics.mean_squared_error(y_test , y_pred)
print("r squared: {:.2f}".format(mlr.score(x,y)*100))
print("mse:",meansqrerr)

r squared: 89.59
mse: 1.8506819941636945