In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [9]:
df=pd.read_csv("random_forest.csv",sep=";",header=None)

In [10]:
df

    0    1
0   1  100
1   2   80
2   3   70
3   4   60
4   5   50
5   6   40
6   7   30
7   8   20
8   9   10
9  10    5